<div class="login-box">

    <div class="login-logo">
        <p><b>Dash</b>board</p>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg"><small>Informe suas credenciais para iniciar sua sessão
                    {{login.email}}

                </small></p>

            <div>
                <div class="input-group mb-3">
                    <input id="email" name="email" type="email" class="form-control" placeholder="E-mail"
                        [(ngModel)]="login.email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="login.password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" [(ngModel)]="login.remember">
                            <label for="remember">
                                Permanecer Conectado
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <button class="btn btn-primary btn-block" type="button" (click)="authenticate()">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>