<app-header *ngIf="showMenu"></app-header>
<app-main-sidebar *ngIf="showMenu" [user]="user"></app-main-sidebar>


<div [ngClass]="showMenu? 'content-wrapper': ''">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2" *ngIf="showMenu">
        <div class="col-sm-6">
          <h5 class="m-0 text-dark">{{page.title}}</h5>
          <!-- <h4 class="m-0 text-dark">{{page.title}}</h4> -->
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<app-footer *ngIf="showMenu"></app-footer>

<simple-notifications [options]="options"></simple-notifications>
<ngx-loading [show]="showLoading"></ngx-loading>