<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="card">
            <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">{{menuTitle}}</h3>
                <ul class="nav nav-pills ml-auto p-2">
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript: void(0)"> Gestão de
                            Acessos <span class="caret"></span></a>
                        <div class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="#menu_usuarios"
                                    (click)="menuTitle= 'Gestão de Usuários'" data-toggle="tab">Usuários</a></li>
                            <li class="nav-item"><a class="nav-link" href="#menu_permissoes"
                                    (click)="menuTitle = 'Gestão de Permissões'" data-toggle="tab">Permissões</a></li>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="menu_usuarios">

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-sm btn-primary" (click)="addUser()">
                                    <i class="fas fa-user-plus"></i>
                                    Adicionar</button>
                                <button class="btn btn-sm btn-secondary" (click)="refresh()">
                                    <i class="fas fa-sync"></i>
                                    Recarregar</button>
                            </div>
                        </div>

                        <div class="row">
                            <div style="margin-top: 20px" class="col-12 col-sm-6 col-md-4"
                                *ngFor="let user of userDataPage.getDataWithLimit()">
                                <div class="card bg-light">
                                    <div class="card-header text-muted border-bottom-0">
                                        {{user.person.business.department}}
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-9">
                                                <h2 class="lead" style="cursor: pointer;" (click)="showDetail(user)">
                                                    <b>{{user.person.getFullName()}}</b></h2>
                                                <p class="text-muted text-sm">
                                                    <b>Cargo: </b> {{user.person.business.role}}
                                                </p>
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="fas fa-lg fa-phone"></i>
                                                        </span>
                                                        Telefone: {{user.person.contact.phone}}
                                                    </li>
                                                    <li class="small">
                                                        <span class="fa-li">
                                                            <i class="fas fa-lg fa-building"></i>
                                                        </span>
                                                        Endereço: {{user.person.address.getAddressFormatted()}}
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-3 text-center">
                                                <img src="../../assets//img/user.png" alt=""
                                                    class="img-circle img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <button class="btn btn-sm btn-default" (click)="editUser(user)">
                                                <i class="fas fa-user-edit"></i>
                                                Editar
                                            </button>
                                            <button *ngIf="user.active" class="btn btn-sm btn-danger"
                                                (click)="disableUser(user)">
                                                <i class="fas fa-users-slash"></i>
                                                Bloquear
                                            </button>
                                            <button *ngIf="!user.active" class="btn btn-sm btn-success"
                                                (click)="enableUser(user)">
                                                <i class="fas fa-user"></i>
                                                Ativar
                                            </button> </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- <div class="row"> -->

                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                    <li *ngIf="userDataPage.hasPrevious()" (click)="userDataPage.previousPage()" class="page-item"><a
                            class="page-link" href="javascript: void(0)">«</a></li>
                    <li *ngFor="let page of userDataPage.getIndexPages()" (click)="userDataPage.setPage(page)"
                        [ngClass]="page === userDataPage.getCurrentPage() ? 'page-item active' : 'page-item'"><a
                            class="page-link" href="javascript: void(0)">{{page}}</a></li>
                    <li *ngIf="userDataPage.hasNext()" class="page-item" (click)="userDataPage.nextPage()"><a
                            class="page-link" href="javascript: void(0)">»</a></li>
                </ul>
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-user" aria-hidden="true" style="display: none;">
        <form [formGroup]="userForm" (ngSubmit)="saveUser()">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{user.id == 0 ? 'Adicionar Usuário' : 'Editar Usuário'}}</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">
                                            Pessoais</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Localização
                                        </a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#tab_3" data-toggle="tab">Acesso</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">

                                        <div class="row" *ngIf="user.id != 0">
                                            <div class="col-md-3 form-group">
                                                <label for="id">Id</label>
                                                <input id="id" name="id" formControlName="id" type="text"
                                                    class="form-control" readonly>
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label for="active">Ativo</label>
                                                <input id="active" name="active" formControlName="active" type="text"
                                                    class="form-control" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 form-group">
                                                <input-validate [label]="'Nome'" [controlId]="'firstName'"
                                                    [typeControl]="'text'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [controlInsance]="userControls.firstName">
                                                </input-validate>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <input-validate [label]="'Sobrenome'" [controlId]="'lastName'"
                                                    [typeControl]="'text'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [controlInsance]="userControls.lastName">
                                                </input-validate>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <input-validate [label]="'Telefone'" [controlId]="'phone'"
                                                    [typeControl]="'phone'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [mask]="'(00) 0000-00000'" [controlInsance]="userControls.phone">
                                                </input-validate>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_2">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <input-validate [label]="'CEP'" [controlId]="'zip_code'"
                                                    [typeControl]="'text'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm" (onBlur)="onBlurCEP($event)"
                                                    [mask]="'00000-000'" [controlInsance]="userControls.zip_code">
                                                </input-validate>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <input-validate [label]="'Estado (UF)'" [controlId]="'uf'"
                                                    [typeControl]="'text'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm" [mask]="'AA'"
                                                    [controlInsance]="userControls.uf">
                                                </input-validate>
                                            </div>

                                            <div class="col-md-5 form-group">
                                                <input-validate [label]="'Cidade'" [controlId]="'city'"
                                                    [typeControl]="'text'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [controlInsance]="userControls.city">
                                                </input-validate>
                                            </div>

                                            <div class="col-md-4 form-group">
                                                <input-validate [label]="'Bairro'" [controlId]="'neighborhood'"
                                                    [typeControl]="'text'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [controlInsance]="userControls.neighborhood">
                                                </input-validate>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input-validate [label]="'Rua/Av'" [controlId]="'address'"
                                                    [typeControl]="'text'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [controlInsance]="userControls.address">
                                                </input-validate>
                                            </div>

                                            <div class="col-md-3 form-group">
                                                <label for="number">Número</label>
                                                <input id="number" name="number" formControlName="number" type="text"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': userFormSubmitted && userControls.number.errors }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_3">
                                        <div class="row">
                                            <!-- <div class="col-md-6 form-group">
                                                <label for="department">Departamento</label>
                                                <input id="department" name="department" formControlName="department"
                                                    type="text" class="form-control"
                                                    [ngClass]="{ 'is-invalid': userFormSubmitted && userControls.department.errors }">
                                                <div *ngIf="userFormSubmitted && userControls.department.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="userControls.department.errors.required">Preencha o
                                                        Departamento</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label for="role">Cargo</label>
                                                <input id="role" name="role" formControlName="role" type="text"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': userFormSubmitted && userControls.role.errors }">
                                                <div *ngIf="userFormSubmitted && userControls.role.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="userControls.role.errors.required">Preencha o Cargo
                                                    </div>
                                                </div>
                                            </div> -->

                                            <div class="col-md-8 form-group">
                                                <input-validate [label]="'E-mail'" [controlId]="'email'"
                                                    [typeControl]="'email'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [controlInsance]="userControls.email">
                                                </input-validate>
                                            </div>
                                            <div class="col-md-4 form-group">
                                                <input-validate [label]="'Senha'" [controlId]="'password'"
                                                    [typeControl]="'password'" [isSubmitted]="userFormSubmitted"
                                                    [messageError]="validateMessages" [form]="userForm"
                                                    [controlInsance]="userControls.password">
                                                </input-validate>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="icheck-primary">
                                                    <input id="admin" name="admin" formControlName="admin"
                                                        type="checkbox">
                                                    <label for="admin">
                                                        Administrador
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                <i class="fas fa-angle-left"></i>
                                Cancelar
                            </button>
                            <button type="button" class="btn btn-sm btn-primary" (click)="saveUser()">
                                <i class="fas fa-save"></i>
                                Salvar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>