.nav-header{
    color: #009688;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active {
    color: #04dcc8;
    background-color: rgba(255,255,255,.1)

}
.sidebar-dark-primary .nav-treeview .nav-item .nav-link.active{
    color: #04dcc8;
    background-color: rgba(255,255,255,.1)
}

.text-user{
    color:#04dcc8;
}

#user-name {
    margin-top: 5px;
}